body {
    font-family: Verdana;
    text-align: center;
    background-color: black;
}

.heading {
    color: white ;
    font-size: 50px;
    font-weight: normal;
}

.sub-heading {
    color: aquamarine;
    font-size: 16px;
}